{% extends 'base/base.html' %}

{% block title %} Salon {%endblock%}


{% block content %} 

<div class="content">
    <div class="container">
      <h1>Bienvenido al Salón de Belleza</h1>
      <p>Somos un salón de belleza dedicado a hacer que te sientas y te veas lo mejor posible. Nuestro equipo de profesionales está aquí para ofrecerte una amplia gama de servicios para satisfacer tus necesidades de belleza.</p>
      <p>Ya sea que estés buscando un corte de pelo elegante, un tratamiento facial relajante o un cambio de imagen completo, estamos aquí para ayudarte a lucir radiante.</p>
    </div>
  </div>


{%endblock%}
  













